/*==========================================================================
ROOT
==========================================================================*/
:root {
  --BackgroundGrey: #293233;
  --backgroundBrown: #524034;
  --backgroundBlue: #3B777C;
  --accentGreen: #567333;
  --accentOrange: #d1681d;
  --accentBlue: #5CBCC4;
  --text-color: #FFF;
  --accentShadow: #1c110a;
  --shadow: drop-shadow(#1C110A 0 0.2rem 0.2rem) drop-shadow(#1C110A 0 -0.2rem 0.2rem);
  --shadowSubtle: drop-shadow(#1C110A 0 0.2rem 0.2rem);
  --shadowGreen: drop-shadow(var(--accentGreen) 0 0.2rem 0.2rem) drop-shadow(var(--accentGreen) 0 -0.2rem 0.2rem);
  --fonthead: "Berkshire Swash";
  --fonttext: "Signika Negative";
}

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-display: swap;
  font-family: "Signika Negative";

  font-style: normal;
  font-weight: 400;
  src: url("src/assets/Fonts/signika-negative-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: 400;
  src: url("src/assets/Fonts/berkshire-swash-v20-latin-regular.woff2") format("woff2");
}

/*==========================================================================
Basic Design
==========================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

html {
  background: var(--BackgroundGrey);
  color: var(--text-color);
  font-family: var(--fonttext);
  text-align: center;
}

main {
  margin-top: 15rem;
  padding: 2rem;
}

footer {
  background-color: var(--accentOrange);
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 2rem 2rem 0.5rem 0.5rem;
}

h1 {
  font-family: var(--fonthead);
  margin: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  -webkit-filter:
    drop-shadow(var(--accentOrange)0.1rem 0.1rem 0rem) drop-shadow(var(--accentOrange)-0.1rem -0.1rem 0rem) drop-shadow(var(--accentGreen)-0.1rem -0.1rem 5rem) drop-shadow(var(--accentGreen)0.1rem 0.1rem 5rem) drop-shadow(var(--accentGreen)-0.1rem -0.1rem 5rem) drop-shadow(var(--accentGreen)0.1rem 0.1rem 5rem);
  filter:
    drop-shadow(var(--accentOrange)0.1rem 0.1rem 0rem) drop-shadow(var(--accentOrange)-0.1rem -0.1rem 0rem) drop-shadow(var(--accentGreen)-0.1rem -0.1rem 5rem) drop-shadow(var(--accentGreen)0.1rem 0.1rem 5rem) drop-shadow(var(--accentGreen)-0.1rem -0.1rem 5rem) drop-shadow(var(--accentGreen)0.1rem 0.1rem 5rem);
  z-index: -99;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--fonthead);
}

.button {
  background-color: var(--accentGreen);
  padding: 0.5rem;
  color: var(--text-color);
  font-family: var(--fonttext);
  border-radius: 0.5rem 2rem 2rem 2rem;
  border: solid 0.2rem var(--accentOrange);
  -webkit-filter: var(--shadowSubtle);
  filter: var(--shadowSubtle);
}


header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: fixed;
  z-index: 999;
  background-color: var(--accentOrange);
  width: 100vw;
  top: 0;
  border-radius: 0.5rem 0.5rem 2rem 2rem;
}