/* ==========================================================================
Career
========================================================================== */
.download {
  font-size: 1.5rem;
  border-radius: 2rem 0.5rem 2rem 2rem;
  border-top: solid 0.4rem var(--accentOrange);
  border-right: solid 0.4rem var(--accentOrange);
  background-color: var(--accentGreen);
  padding: 0.2rem;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  -webkit-filter: var(--shadowSubtle);
  filter: var(--shadowSubtle);
}

.timeline {
  /* The actual timeline */
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
}

.timeline::after {
  /* The actual timeline (the vertical ruler) */
  content: '';
  position: absolute;
  width: 0.5rem;
  background-color: var(--accentOrange);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.2rem;
}

/* Container around content */
.container {
  padding: 0.7rem 2rem;
  position: relative;
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.container::after {
  /* The "leaf" on the timeline */
  content: '';
  position: absolute;
  right: -1rem;
  z-index: 1;
  background-color: var(--accentGreen);
  height: 2rem;
  border-top: var(--accentOrange) 0.3rem solid;
  border-left: var(--accentOrange) 0.3rem solid;
  border-radius: 0rem 1rem 1rem 1rem;
  width: 3rem;
}

.left {
  left: 0;
  justify-content: left;
}

.right {
  left: 50%;
  justify-content: right;
}

.right::after {
  left: -1rem;
  border-radius: 1rem 0rem 1rem 1rem;
  border-right: var(--accentOrange) 0.3rem solid;
  border-left: var(--accentOrange) 0;
}

.content_right {
  background-color: var(--accentGreen);
  padding: 0.3rem;
  width: 100%;
  z-index: 2;
  border: var(--accentOrange) 0.3rem solid;
  border-radius: 0.5rem 2rem 0.5rem 2rem;
  -webkit-filter: var(--shadowSubtle);
  filter: var(--shadowSubtle);
}

.content_left {
  background-color: var(--accentGreen);
  padding: 0.3rem;
  z-index: 2;
  border: var(--accentOrange) 0.3rem solid;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  -webkit-filter: var(--shadowSubtle);
  filter: var(--shadowSubtle);
  width: 100%;
}

.Details_right {
  z-index: 900;
  padding: 1rem;
  background-color: var(--accentGreen);
  min-width: 20rem;
  border-radius: 1rem;
}

.Details_left {
  z-index: 900;
  padding: 1rem;
  background-color: var(--accentGreen);
  min-width: 20rem;
  border-radius: 1rem;
}

.PumpkinMore_left {
  background-image: url(/src/assets/images/own_logo/Logo_colored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  height: 3rem;
  width: 3rem;
  margin-top: -2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  left: 0;
  justify-content: left;
  cursor: pointer;
}

.PumpkinMore_left p {
  margin-top: 1.5rem;
  z-index: 3;
  cursor: pointer;
}

.PumpkinMore_right p {
  margin-top: 1.5rem;
  z-index: 3;
  cursor: pointer;
}


.PumpkinMore_right {
  background-image: url(/src/assets/images/own_logo/Logo_colored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  height: 3rem;
  width: 3rem;
  margin-top: -2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  left: 50%;
  justify-content: right;
  cursor: pointer;
}

.Pumpkin {
  display: flex;
  background-image: url(/src/assets/images/own_logo/Logo_colored.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
}